<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans.xsd">

<bean class="com.SC.CI.Address" name="addr">
	<constructor-arg value="Vadodara"></constructor-arg>
	<constructor-arg value="1234"></constructor-arg>
</bean>                           

<bean class="com.SC.CI.Employee" name="emp">
	<constructor-arg value="101"></constructor-arg>
	<constructor-arg value="ROHAN AGARKAR"></constructor-arg>
	<constructor-arg value="1000"></constructor-arg>
	<constructor-arg ref="addr"></constructor-arg>	
</bean>
</beans>